include partials/header.jade
body
    include partials/navmenu.jade
    .container
        .row
            .col-mid-12
                p
                p.headingfont Headign is heree                         
include partials/jscssincluds.jade        

